.pay-button{
    width: 50%;
    float:right;
    padding-top: 10px;
}

.status{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(201,201,201,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(201,201,201,1);
    box-shadow: 0px 0px 5px 0px rgba(201,201,201,1);
    color: red;
    overflow-y: scroll;
    margin-top:10%;
}
.status p{
    opacity: 0.75;
    padding-left: 1%;
    white-space: pre-line;
}

.success {
    color: green;
}

.error {
    color: red;
}

